@media screen and (min-width: 768px) {
.nav{
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
    background: none;
}

.nav a {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.hamburger {
    display: none;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

main h2 {
    grid-column: 1 / -1;
}

}



